.header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

/* Logo */
.logo {
  display: flex;
  flex:1;
  flex-direction: column;
  line-height: 1;
}

.logo img {
  width: 150px;
  height: 110px;
}


/* Navigation */
.nav {
  display: flex;
  gap: 100px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  font-weight: 600;
  color: #0b6b45;
  transition: 0.2s;
}

.nav a:hover {
  opacity: 0.7;
}

/* Contact button */
.contactBtn {
  background: #d5ab4b;
  padding: 10px 18px;
  border-radius: 30px;
  color: black !important;
  font-weight: bold;
}

/* Hamburger */
.menuBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menuBtn span {
  display: block;
  width: 22px;
  height: 2px;
  background: #0b6b45;
  margin: 5px 0;
}

/* Mobile menu */
.mobileMenu {
  display: none;
}

/* Dropdown wrapper */
.dropdown {
  position: relative;
}

/* Hide dropdown by default */
.dropdownMenu {
  position: absolute;
  top: 18px;
  left: 0;
  background: white;
  min-width: 280px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  display: none;
  flex-direction: column;
  z-index: 100;
}

.dropdownMenu a {
  padding: 10px 16px;
  text-decoration: none;
  color: #0b6b45;
  font-weight: 500;
  display: block;
}

.dropdownMenu a:hover {
  background: #f3f0e6;
}

/* Show dropdown on hover */
.dropdown:hover .dropdownMenu {
  display: flex;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
  .nav {
    display: none;
  }

  .menuBtn {
    display: block;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    gap: 15px;
    border-top: 1px solid #eee;
  }

  .mobileMenu a {
    text-decoration: none;
    font-weight: 600;
    color: #0b6b45;
  }
}



